@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Paytone+One&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

:root {
  --gassed-green: #00ff7a;
  --gassed-purple: #7a00ff;
  --gassed-orange: #ff7a00;
}

#product-page {
  background-image: url(../images/streets.jpg);
  min-height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
  padding: 20px 0;
}

#product-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
}

#product-container {
  background-color: rgba(217, 217, 217, 0.1);
  position: relative;
  z-index: 3;
  margin: 20px;
  max-width: 100%;
  text-align: center;
  padding: 15px 30px;
}

.header-h1 {
  margin: auto;
  margin-bottom: 15px;
  font-family: "Paytone One", sans-serif;
  color: var(--gassed-purple);
  letter-spacing: 1.7px;
}

.product-option {
  padding: 7px 8px;
  background-color: rgba(217, 217, 217, 0.1);
  color: white;
  margin: 15px;
}

#product-form {
  margin: 0;
}

.search-option {
  padding: 8px;
  background-color: rgba(217, 217, 217, 0.1);
  margin: 15px;
  color: white;
}

.search-option::placeholder {
  color: white;
  opacity: 80%;
}

#search-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.card-holder {
  margin: 0 auto;
}

.card-img-top {
  max-height: 175px;
  width: 100%;
  object-fit: cover;
}

.card-title {
  color: var(--gassed-green);
}

.card {
  width: 18rem;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(160, 160, 160);
  text-align: left;
  margin: 20px 10px;
  min-height: 95%;
}

.card-body {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#status-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.out-of-stock {
  display: block;
  min-width: 100%;
  border-radius: 0;
  background-color: rgba(217, 217, 217, 0.1);
  font-size: 20px;
  letter-spacing: 1.5px;
  border: solid 1px var(--gassed-orange);
  color: white;
  text-align: center;
  padding: 6px;
  margin-bottom: auto;
  opacity: 50%;
}

.basket-form {
  margin-bottom: 0;
}

.error-p {
  width: 100%;
  margin: 20px auto;
  color: rgba(255, 0, 0, 0.789);
  font-weight: 600;
}

.price-qty-holder {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;

  justify-content: space-between;
  width: 100%;
}

.qty-holder {
  display: flex;
  flex-direction: row;
  max-width: min-content;
}

.price-qty-holder p {
  margin: auto 0;
}

.qty-input {
  width: 80px;
  border-radius: 0;
  background-color: rgba(217, 217, 217, 0.1);
  font-size: 20px;
  letter-spacing: 1.5px;
  border: solid 1px var(--gassed-orange);
  color: white;
  margin-left: 10px;
  padding: 5px 10px;
}

.qty-warning {
  font-size: 15px;
  color: rgba(255, 25, 25, 0.757);
  font-weight: 600;
  margin-bottom: 5px;
  text-align: center;
}

.qty-success {
  font-size: 15px;
  color: rgba(255, 25, 25, 0);
  font-weight: 600;
  margin-bottom: 5px;
  text-align: center;
}
